<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dekidea.tuneurl">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.telephony"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    <application
        android:name="com.dekidea.tuneurl.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:usesCleartextTraffic="true">
        <!--android:requestLegacyExternalStorage="true"-->

        <activity android:name="com.dekidea.tuneurl.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:allowTaskReparenting="false">

            <intent-filter android:label="@string/app_name">

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        
        <activity android:name="com.dekidea.tuneurl.activity.AlertActivity"
            android:label="@string/news_alert_label"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
			android:allowTaskReparenting="true">
        
        </activity>

        <service android:name="com.dekidea.tuneurl.service.SoundListenerService"/>

        <service android:foregroundServiceType="mediaProjection" android:name="com.dekidea.tuneurl.service.MediaProjectionServer"/>
        
        <service android:name="com.dekidea.tuneurl.service.SoundMatchingService"/>
        
        <service android:name="com.dekidea.tuneurl.service.APIService"/>
        
        <service android:name="com.dekidea.tuneurl.service.AutorunService"/>

        <service android:name="com.dekidea.tuneurl.service.AutorunJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">
        </service>

        
        <receiver android:name="com.dekidea.tuneurl.receiver.ConnectivityChangeReceiver">
		
			<intent-filter>
				
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
			
			</intent-filter>
		
		</receiver>
		
        <receiver android:name="com.dekidea.tuneurl.receiver.BootCompletedReceiver">
		
			<intent-filter>
				
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<category android:name="android.intent.category.HOME"/>
			
			</intent-filter>
		
		</receiver>

        <receiver android:name="com.dekidea.tuneurl.receiver.CallReceiver">

            <intent-filter android:priority="999">

                <action android:name="android.intent.action.PHONE_STATE"/>

            </intent-filter>

        </receiver>

    </application>
    
</manifest> 